a {
 color: #445c3c;
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

h1 {
  margin: 50px auto 0 auto;
  margin-bottom: 0;
  font-size: 5.625rem;
  font-family: 'Stalemate';
}

h2 {
  font-size: 2.5rem;
}

hr {
  border: dotted #c7f0db 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4em;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 10px 0;
}

.contact-header {
  margin: 0 25px 25px;
}

.profile {
  text-align: center;
}

.top-container {
  background-color: #f1fff1;
  position: relative;
  padding-top: 100px;
  overflow: hidden;
}

.middle-container {
  max-width: 460px;
}

.profile-paragraph {
  font-size: 1.15em;
  margin: 0 25px;
}

.movie-ref {
  margin: 0 0;
}

.bottom-container {
  background-color: #bac7a7;
  padding: 50px 0 20px;
}

.skill-row1 {
  margin: 100px auto 100px auto;
  /* width: 50%; */
  /* text-align: left; */
  text-align: center;
  line-height: 2;
}

.skill-row2 {
  /* margin: 200px auto 200px auto; */
  /* width: 50%; */
  /* text-align: left; */
  text-align: center;
  line-height: 2;
}

.skill-row-image1 {
  width: 50%;
  /* float: left; */
  /* margin-right: 30px; */
}

.skill-row-image2 {
  width: 50%;
  /* float: right; */
  /* margin-left: 30px; */
  /* float: left; */
}

.skill-row-p {
  margin: 0 25px;
}

.forest {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.profile-pic {
  width: 200px;
  height: auto;
  max-width: 50%;
  margin: 50px 0;
  border-radius: 50%;
}

.cloud {
  position: absolute;
  transition: all 1s ease-in-out;
  z-index: 980;
}

.top-cloud {
  right: -1.5em;
  width: 100px;
  height: 100px;
  top: 3em;
}

.bottom-cloud {
  left: -1.5em;
  width: 100px;
  height: 100px;
  bottom: 20em;
}

.contact-me-note {
  margin: 0 25px;
}

.get-in-touch {
  margin-bottom: 1em;
}

.footer-link {
  margin: 10px 20px;
}

.footer-link:hover{
  color: #EAF6F6;
}

.myButton {
	background-color:#445c3c;
	border-radius:28px;
	border:1px solid #445c3c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat';
	font-size:17px;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
  margin: 2em 0 5.5em 0;
}
.myButton:hover {
	box-shadow: 0 0 11px rgba(46, 49, 49, 1);
  transition: all .2s ease;
}

.myButton:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 461px)
{
  h1 {
    font-size: 7em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.3em;
  }

  .top-cloud {
    right: -2.5em;
    width: 150px;
    height: 150px;
    top: 3em;
  }

  .bottom-cloud {
    left: -2.5em;
    width: 150px;
    height: 150px;
    bottom: 20em;
  }

  .contact-me-note {
    margin: 0 50px;
  }

  .middle-container {
    max-width: 100%;
  }

  .profile-paragraph {
    font-size: 1.5em;
    margin: 0 50px;
  }

  .skill-row1 {
    margin: 100px auto 100px auto;
    /* width: 50%; */
    /* text-align: left; */
    text-align: center;
    line-height: 2;
  }

  .skill-row2 {
    /* margin: 200px auto 200px auto; */
    /* width: 50%; */
    /* text-align: left; */
    text-align: center;
    line-height: 2;
  }

  .skill-row-p {
    margin: 0 50px;
  }
}

@media only screen and (min-width: 1000px)
{

  .contact-me-note {
    margin: 0 50px;
  }

  .middle-container {
    max-width: 100%;
  }

  .profile-paragraph {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
  }

  .skill-row1 {
    margin: 100px auto 100px auto;
    width: 75%;
    /* text-align: left; */
    text-align: center;
    line-height: 2;
  }

  .skill-row2 {
    margin: 200px auto 200px auto;
    width: 75%;
    /* text-align: left; */
    text-align: center;
    line-height: 2;
  }

  .skill-row-image1 {
    width: 30%;
    float: left;
    margin-right: 30px;
  }

  .skill-row-image2 {
    width: 30%;
    float: right;
    margin-left: 30px;
    /* float: left; */
  }

  .skill-row-p {
    margin: 0 50px;
  }
}
